@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

ul,
li,
a {
    text-decoration: none !important;
    list-style: none !important;
}


.nav-buttons {
    margin-left: 60%;
}

.btn {
    background-color: coral !important;
    color: #fff !important;
    outline: none;
    border: none !important;
    padding: 10px 20px;
}

.btn:hover {
    background-color: #2b2727 !important;
   
}

@media only screen and (max-width: 900px) {
    .nav-buttons {
        margin: 10px;
    }

    .nav-buttons ul {
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .nav-buttons ul .svg-inline--fa {
        margin: 20px 5px 10px 20px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
}

h6 {
    color: #D8D8D8;
}

.navbar {
    font-size: 16px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top: 0;
    left: 0;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


.navbar-brand {
    color: coral !important;
    margin: 3px 5px !important;
    font-size: 1.5rem !important;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0 20px;
    color: #000;
    transition: 0.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar svg:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar svg:active {
    color: coral !important;
}

.navbar-toggler:hover {
    background-color: coral;
}

.navbar svg {
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.4s ease;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
}


/* stars */
.star {
    padding: 10px 0;
}

.star svg {
    font-size: 0.9rem;
    color: goldenrod;
}


/* #hero */

#hero {
    background-image: url('../images/hero2.jpg');
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: 80px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

#hero h1 {
    color: #fff
}

#hero h4 {
    color: #fff
}

#hero .btn {
    background-color: coral;
}

#hero .btn:hover {
    background-color: #1d1d1d;
}

@media screen and (max-width: 1100px) {
    #hero {
        background-position-x: -250px;
    }
}

@media screen and (max-width: 900px) {
    #hero {
        background-position-x: -650px;
    }
}

@media screen and (max-width: 700px) {
    #hero {
        background-position-x: -850px;
    }
}

@media screen and (max-width: 400px) {
    #hero {
        background-position: right;
        background-position-x: -200px;
    }
}

@media screen and (max-width: 375px) {
    #hero {
        background-position-x: -1090px;
    }
}

@media screen and (max-width: 350px) {
    #hero {
        background-position-x: -720px;
    }
}

#hero span {
    color: coral;
}

/* new */
#new .new__item {
    position: relative;
}

#new .new__item img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#new .new__item .details {

    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.7;
    background-color: rgb(1, 1, 1);
    width: 100%;
    height: 100%;
}

#new .new__item .details:hover {
    background-color: cornsilk;
}

#new .new__item:nth-child(1) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

#new .new__item:nth-child(2) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

#new .new__item:nth-child(3) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

/* featured products */
/* product */

.product {
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img {
    transition: 0.3s all;
}

.product:hover img {
    opacity: 0.7;
}


.product .buy-btn {
    background-color: coral;
    transform: translateY(30px);
    opacity: 0;
    transition: 0.3s all;
    color: #fff;
}

.shop-buy-btn {
    background-color: coral;
    opacity: 1;
    color: #fff;
    text-decoration: none;
}

.product:hover .buy-btn {
    transform: translateY(0px);
    opacity: 1;
}



/* footer  */

footer {
    background-color: #222;
    /* opacity: 0.6;
    color: #fff !important; */
}


footer h5 {
    color: #D8D8D8;
    font-weight: 700;
    font-size: 1.2rem;
}

footer .sublogo-text {
    font-size: 0.9rem;
    font-weight: 700;
}

footer li {
    padding-bottom: 4px;
}


footer li a {
    font-size: 0.8rem;
    color: #999;
    text-decoration: none;
}

footer li a:hover {
    color: #D8D8D8;
}


/* socials */
footer .copyright a
{
    background-color: #ccadad;
    display: inline-block;
    line-height: 2.2rem;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}

/* шрифтовый */
footer .copyright a.tg {
    width: 40px;
    height: 40px;
    fill: rgb(50, 156, 206);
    padding: 0 8px;
    text-align: center;
}
/* чистый svg */
footer .copyright a.youtube {
    width: 40px;
    height: 40px;
    fill: red;
    padding: 0 6px;
    text-align: center;
}
footer .copyright a.vk {
    width: 40px;
    height: 40px;
    fill: rgb(78, 78, 226);
    padding: 0 8px;
    text-align: center;
}


footer .copyright a:hover {
    background-color: coral;
}



footer .copyright img {
    width: 30%;
}

footer p {
    color: #999;
    font-size: 0.8rem;
}


/* pagination */
.page-link {
    color: #000 !important;
}

/* .single-product */

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 20%;
    cursor: pointer;
}

.small-img {
    max-width: 50px;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

input[type="number"],
.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

input[type="number"]:focus,
.single-product input:focus {
    outline: none;
}

.single-product .buy-btn {
    background-color: coral;
    opacity: 1;
    transition: 0.4s all;
}

.single-product .buy-btn:hover {
    background-color: #222222;
}

/* #cart */

.cart table {
    width: 100%;
    border-collapse: collapse;
}

.cart .product-info {
    display: flex;
    flex-wrap: wrap;
}

.cart th {
    text-align: left;
    padding: 5px 10px;
    color: #fff;
    background-color: coral;
}

.cart td {
    padding: 10px 20px;
}

.cart td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart td a {
    color: coral;
}

.cart .remove-btn {
    color: coral;
    text-decoration: none;
    font-size: 0.9rem;
    border: none;
    /* width: 100%; */
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 5px;
}

.cart .edit-btn {
    color: coral;
    text-decoration: none;
    font-size: 0.95rem;
    background-color: #fff;
    border: none;
}

.cart .product-info p {
    margin: 3px;
}

.cart__total {
    display: flex;
    justify-content: flex-end;
}

.cart__total table {
    width: 100%;
    max-width: 500px;
    border-top: 3px solid coral;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.checkout-btn {
    background-color: coral;
    color: #fff;
}

.checkout-container {
    display: flex;
    justify-content: flex-end;
}


/* hr */
hr {
    width: 30px;
    height: 3px !important;
    opacity: 1 !important;
    background-color: coral !important;
}

/* login  register*/
#login-form,
#register-form {
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid coral;
}

#login-form input,
#register-form input {
    width: 50%;
    margin: 5px auto;
}

#login-form #login-btn,
#register-form #register-btn {
    background-color: coral;
    color: #fff;
}

#login-form #register-url,
#register-form #register-url {
    color: coral;
}

/* account */
#account-form {
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}

#account-form input {
    margin: 5px auto;
}

#account-form #change-pass-btn {
    color: #fff;
    background-color: coral;
}

.account-info #order-btn,
#logout-btn {
    color: coral;
    text-decoration: none;
}


/* orders */
.orders table {
    width: 100%;
    border-collapse: collapse;
}


.orders .product-info {
    display: flex;
    flex-wrap: wrap;
}

.orders th {
    padding: 5px 20px;
    color: #fff;
    background-color: coral;
    /* text-align: left; */
}



.orders td {
    padding: 10px 20px;
}

.orders td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.orders .order-details-btn {
    color: #fff;
    background-color: coral;
}

/* checkout */

#checkout-form .checkout-small-element {
    display: inline-block;
    width: 48%;
    margin: 10px auto;
}

#checkout-form .checkout-large-element {
    width: 95%;
}

#checkout-form .checkout-btn-container {
    margin: 10px;
    text-align: center;
    margin-right: 40px;
}

#checkout-form #checkout-btn {
    color: #fff;
    background-color: coral;
}






/* contact */
#contact span {
    color: coral;
}

/* shop */

.product img {
    width: 100%;
    max-width: 250px;
    /* height: auto; */
    height: 200px;
    box-sizing: border-box;
    object-fit: cover;
}

.pagination a {
    color: coral;
}

.pagination li:hover a {
    color: #fff;
    background-color: coral;
}

/* categories */

